<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/style.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oauth project</title>
</head>
<body>
  <nav class="red">
    <ul>
      <li><a href="/">Homepage</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/login/">Login</a></li>
        <li><a href="/">Homepage</a></li>
       </ul>
  </nav>
  <header>
    <h1>USER GOT HERE</h1>
  </header>
  <main>
    <p>HERES WELL SEE USER</p>
  </main>
</body>
</html>