/* #F4F1DE blanco huevo
#AC3E20 naranja rojo chino ---->#E07A5F naranja terra cota ----> #EFB8A9 unos ptos mas claro
#3D405B violeta independence
#81B29A verde sheen
#F2CC8F amarillo deep champagne
*/

html {
  height: 100%;
  font-family: sans-serif;
}

nav {
  display: flex;
  background-color: #AC3E20;
}

header {
  background-color: #EFB8A9; 
  padding: 3%;
}

google-btn {
  color: balck;
}



body {
  height:100%;
  margin: 0;
}

main {
  padding: 5% 5% 0% 5%;
  height: 100%;  
}

h2 {
  margin: 0;
  padding: 1%;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin: 7%;
  list-style: none;
}

a {
  font-family: system-ui;
  color: white;
  background-color: rgba(255,255,255,0.2); 
  padding: 5%;
}

p{
  margin: 0;
}
  
.google-btn {
  color: black;
  border: 2px solid #AC3E20 ;
  border-radius: 5%;
  padding: 1%;
}